<Layouts.flash_group flash={@flash} />
<div class="m-32 text-center">
  <h1 class="text-4xl font-bold mb-8">
    Bonjour !
  </h1>
  <p class="text-xl">
    Je suis une page de test permettant d'apprendre Phoenix !
  </p>
</div>
