<Layouts.flash_group flash={@flash} />
<div class="m-32 text-center">
  <h1 class="text-4xl font-bold mb-8">
     Page d'edit des utilisateurs
  </h1>
  <p class="text-xl">
    Cette page permet de modifier un utilisateur 
  </p>
</div>
