<Layouts.flash_group flash={@flash} />
<div class="m-32 text-center">
  <h1 class="text-4xl font-bold mb-8">
    Création d'utilisateur
  </h1>
  <p class="text-xl">
    Cette page permet de créer un utilisateur.
  </p>
</div>
