<Layouts.flash_group flash={@flash} />
<div class="m-32 text-center">
  <h1 class="text-4xl font-bold mb-8">
    Info sur un utilisateur en particulier
  </h1>
  <p class="text-xl">
    Cette page donne les info sur un utilisateur en particulier 
  </p>
</div>
